@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1200px;
    @apply mx-auto px-5 w-full;
  }
  body,
  html {
    @apply h-full;
  }
  #root {
    @apply flex flex-col h-full;
  }
}

:root {
  font-family: "Play", sans-serif;
}

/* bg video classnames and styles */
.custom-blur {
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-blur-just {
  filter: brightness(40%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
